.app-wrapper {
	width: fit-content;
  height: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
  background-color: rgb(236, 229, 221);
}

.abilities,
.pokemon-names,
.pokemon-moves {
  margin: 1rem auto;
  text-align: left;
}

.moves-selector {
  margin-bottom: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.link {
  text-decoration: none;
}
