.app-wrapper {
	width: fit-content;
	margin: auto;
	text-align: center;
	padding-bottom: 2rem;
}

.abilities,
.pokemon-names {
  width: min-content;
  margin: 1rem auto;
}

.moves-selector {
  margin-bottom: 1rem;
}
